.cards {
   width: 920px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   flex-direction: row;
   flex-wrap: wrap;
   -webkit-box-pack: start;
   justify-content: flex-start;
}