.khan__buy-link {
   margin-left: 48px;
   color: #2f80ed;
   text-decoration: none;
   -webkit-transition: opacity .2s linear .2s;
   transition: opacity .2s linear .2s;
   height: -webkit-fit-content;
   height: -moz-fit-content;
   height: fit-content;
   line-height: 42px;
   font-size: 30px;
   font-weight: normal;
}

.khan__buy-link::after {
   content: " →";
}

.khan__buy-link:hover {
   opacity: .6;
}