.khan__buy-link {
   margin-left: 48px;
   color: #2f80ed;
   text-decoration: none;
   -webkit-transition: opacity .2s linear .2s;
   transition: opacity .2s linear .2s;
   line-height: 42px;
   font-size: 30px;
   font-weight: normal;
   display: flex;
   flex-direction: row;
   align-content: flex-start;
}

.khan__buy-link::after {
   content: " →";
}

.khan__buy-link:hover {
   opacity: .6;
}